#wrapper
{
    position:relative;
    width:600px;
    height:252px; 
    margin:0 auto;
    border-style:transparent; /*solid*/
    border-width:2px;
    border-color:black;
}

#yield_wrap
{
    position:relative;
    margin: 30px auto;     
    border-style:transparent;
    border-width:2px;
    border-color:black;
    width:600px;
    height:50px; 
}

#box
{
    position:absolute;    
    background-color:none; 
    border-style:transparent;
    border-width:2px;
    border-color:black;
    height:250px;
    width:300px;
    margin:0px;
}

#field-wrap
{
    position:absolute;
    top:0px; /*60*/
    right:60px; /*10*/
    width:200px; 
    height:200px;
    border-style:transparent;
    border-width:2px;
    border-color:black;
   
}

#wrapper2
{
    position:relative;
    margin:30px auto;
    border-style:transparent;
    border-width:2px;
    border-color:black;
    width:250px;
    height:80px;
}

/* Styling the jumbotron: http://stackoverflow.com/questions/23618333/bootstrap-styling-jumbotron-elements */
.jumbotron{
    
    /*position: relative;*/
    
    padding:20px !important;
    
    /*
    /*margin-top:70px !important; */
    background: transparent; 
    margin-top: 0;
    margin-right: 0; 
    /*text-align:center;*/
    margin-bottom: 30 !important;
    
}

.navbar{
    
    /* Removes space between navbar and jumbotron */
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;    
    font-size: 12px;
    letter-spacing: 5px;
    
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/* wraps quantity and drop-down button together */
#button {
    
    position:relative;
    margin-bottom:5px;     
    border-style:transparent; 
    border-width:2px;
    border-color:black;
    width:250px; 
}



/* Had to set postion of bg-4 to absolute and bottom:0px and left:0px to ensure footer sticks to bottom of the page */ 
.bg-4 {
    
    padding: 70px; 
    background-color: #2f2f2f;
    color: #ffffff;
    display:block;
    /*position: absolute;
    bottom:0px;
    left:0px;
    width: 100%;   
    height:100px;
    margin-top:70px*/; 
    
}



/*http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */

.flexy {
    
    display:flex;
    align-items:center;
    justify-content:center;
    
}


html,body {
    
  height:100%;
   
}
/*
#wrapper {
  height: 100%;
  overflow: auto;
}
*/   
.height_modify { 
  
  height:100%;
  overflow: auto;  
} 



